* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}